<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>这是我偿试的 Vue Example Demo</title>
    </head>
    <body>
    <!--双向绑定-->
    <h3>{{ message }}</h3>
    <input type="text" v-model="message">
    <!-- 在 "change" 而不是 "input" 事件中更新 -->
    <input v-model="message" lazy>
    <!--循环数组-->
    <div id="app">
        <ul>
            <li v-for="(index, item) in todos">{{index}}{{ item.text }}</li>
        </ul>
    </div>
    <!--处理用户输入-->
    <!--<div v-bind:class="{'class-a': isA}">-->
        <!--<p>{{message}}</p>-->
        <!--<button v-on:click="reverseMessage">Reverse Message</button>-->
    <!--</div>-->
    <!--<p></p>-->
    <!--&lt;!&ndash;综合&ndash;&gt;-->
    <!--<div :class="[classA, isB ? classB : '' ]" :style="{color: 'red', fontSize: fontSize + 'px' }">-->
        <!--<input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">-->
        <!--<ul>-->
            <!--&lt;!&ndash;从 1.0.17 开始可以使用 of 分隔符，更接近 JavaScript 遍历器语法：&ndash;&gt;-->
            <!--<li v-for="v of todos">-->
                <!--<span>{{v.text}}</span>-->
                <!--<button v-on:click="removeTodo($index)">X</button>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<h1 v-if="ok">yes</h1>-->
    <!--<h1 v-else>no</h1>-->

    <!--<template v-if="ok">-->
        <!--<h1>你好</h1>-->
        <!--<p>我很好</p>-->
    <!--</template>-->
    <!--<template v-else>-->
        <!--<h1>我不好</h1>-->
        <!--<p>我一点也不好</p>-->
    <!--</template>-->
    <!--&lt;!&ndash;值域 v-for&ndash;&gt;-->
    <!--<div>-->
        <!--<span v-for="n in 10">{{ n }} </span>-->
    <!--</div>-->
    <button @click.stop="greet" @:keyup.13="greet">Greet</button>
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>

    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames | json }}</span>
    <br>
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>

    <!--这里不用引入JS文件，我会通过 html-webpack-plugin 来载入-->
    </body>
</html>